<p style="text-align:center;">All IPO Entries</p>
<link href="E:\Documents\Files\SocGen\Phase 3\Project\Ui\src\app\login\login.component.css" rel="stylesheet" type="text/css">
<div>
    <button type="submit" class="btn btn-primary" (click)="getallipo()">Get all SE</button>
    <table class="table">

    <thead>
        <tr>
       
            <th>ID</th>
            <th>Company Name</th>
            <th>Stock Exchange </th>
            <th>Price Per Share</th>
            <th>Total No Of Shares</th>
            <th>Open Date Time</th>
            <th>Remarks</th>
       
        </tr>
       
    </thead>
       
    <tbody>
       
        <tr *ngFor="let item of list">
       
            <td>{{item.id}}</td>
            <td>{{item.companyName}}</td>
            <td>{{item.stockExchange}}</td>
            <td>{{item.pricePerShare}}</td>
            <td>{{item.totalNoOfShares}}</td>
            <td>{{item.openDateTime}}</td>
            <td>{{item.remarks}}</td>

        </tr>
     </tbody>   
</table>