<p style="text-align:center;">Admin Actions!</p>
<link href="C:\Users\Ramya\Desktop\Phase 3\Dotnet\src\app\admin-home\admin-home.component.css" rel="stylesheet" type="text/css">
<div class="middle">

<table>
    <thead>
        <td> <button class="btn btn-primary" [routerLink]="['/company']" >Manage Company List</button> </td>
        <td> <button class="btn btn-primary" [routerLink]="['/exchange']" >Manage Stock Exchanges</button> </td>
        <td> <button class="btn btn-primary" [routerLink]="['/ipo']" >Update IPO list</button> </td>
    </thead>
</table>
<br>
<button class="btn btn-primary" [routerLink]="['/Login']" >Back</button>
</div>